@model Nop.Plugin.Payments.FreeKassa.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="PaymentFreeKassa" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @Html.Raw(T("Plugins.Payments.FreeKassa.Instructions"))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Secret1_OverrideForStore" asp-input="Secret1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Secret1" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Secret1" />
                        <span asp-validation-for="Secret1"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Secret2_OverrideForStore" asp-input="Secret2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Secret2" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Secret2" />
                        <span asp-validation-for="Secret2"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>